formularioRecibeEnviaMail (1).json
{
  "name": "formularioRecibeEnviaMail",
  "nodes": [
    {
      "parameters": {
        "path": "formulario",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        -144
      ],
      "id": "45f7faa1-152b-4600-88c8-adfef0a30a26",
      "name": "Webhook",
      "webhookId": "496d9a06-affc-4b71-9ea2-2008471384d1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Formulario de Contacto</title>\n  <!-- Bootstrap CSS -->\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n</head>\n<body class=\"bg-light\">\n  <div class=\"container mt-5\">\n    <div class=\"row justify-content-center\">\n      <div class=\"col-md-8 col-lg-6\">\n        <div class=\"card shadow-sm\">\n          <div class=\"card-header bg-primary text-white text-center\">\n            <h4>Formulario de Contacto</h4>\n          </div>\n          <div class=\"card-body\">\n            <!-- Mensaje de éxito oculto -->\n            <div id=\"successMessage\" class=\"alert alert-success d-none\" role=\"alert\">\n              ¡Tu mensaje ha sido enviado con éxito!\n            </div>\n\n            <form id=\"contactForm\" novalidate>\n              <div class=\"mb-3\">\n                <label for=\"nombre\" class=\"form-label\">Nombre Completo</label>\n                <input type=\"text\" class=\"form-control\" id=\"nombre\" name=\"nombre_completo\" required>\n                <div class=\"invalid-feedback\">Por favor ingresa tu nombre completo.</div>\n              </div>\n              <div class=\"mb-3\">\n                <label for=\"email\" class=\"form-label\">Correo Electrónico</label>\n                <input type=\"email\" class=\"form-control\" id=\"email\" name=\"email\" required>\n                <div class=\"invalid-feedback\">Por favor ingresa un correo válido.</div>\n              </div>\n              <div class=\"mb-3\">\n                <label for=\"asunto\" class=\"form-label\">Asunto</label>\n                <input type=\"text\" class=\"form-control\" id=\"asunto\" name=\"asunto\" required>\n                <div class=\"invalid-feedback\">Por favor ingresa el asunto.</div>\n              </div>\n              <div class=\"mb-3\">\n                <label for=\"comentario\" class=\"form-label\">Comentario</label>\n                <textarea class=\"form-control\" id=\"comentario\" name=\"comentario\" rows=\"5\" required></textarea>\n                <div class=\"invalid-feedback\">Por favor escribe tu comentario.</div>\n              </div>\n              <div class=\"d-grid\">\n                <button type=\"submit\" class=\"btn btn-primary\">Enviar</button>\n              </div>\n            </form>\n          </div>\n          <div class=\"card-footer text-muted text-center\">\n            MenuAdmin\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Bootstrap JS -->\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js\"></script>\n  <script>\n    (function () {\n      'use strict'\n      const form = document.getElementById('contactForm');\n      const successMessage = document.getElementById('successMessage');\n\n      form.addEventListener('submit', async function (event) {\n        event.preventDefault();\n        event.stopPropagation();\n\n        if (!form.checkValidity()) {\n          form.classList.add('was-validated');\n          return;\n        }\n\n        // Capturar datos del formulario\n        const formData = new FormData(form);\n        const data = Object.fromEntries(formData.entries());\n\n        try {\n          // Enviar datos al webhook de n8n\n          const response = await fetch('https://moleculax.app.n8n.cloud/webhook/contactos', {\n            method: 'POST',\n            headers: { 'Content-Type': 'application/json' },\n            body: JSON.stringify(data)\n          });\n\n          if (response.ok) {\n            successMessage.classList.remove('d-none');\n            form.reset();\n            form.classList.remove('was-validated');\n          } else {\n            alert('Hubo un error al enviar el formulario.');\n          }\n        } catch (error) {\n          alert('Error de conexión: ' + error.message);\n        }\n      });\n    })();\n  </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        832,
        -144
      ],
      "id": "19ada88b-7565-4bd4-8248-9859afc03df4",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -144
      ],
      "id": "7ae93a32-83df-4980-b949-01ebb53022ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contactos",
          "mode": "list",
          "cachedResultName": "contactos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comercio_id": 0,
            "restaurant_id": 0,
            "nombre": "={{ $json.body.nombre_completo }}",
            "asunto": "={{ $json.body.asunto }}",
            "email": "={{ $json.body.email }}",
            "mensaje": "={{ $json.body.comentario }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_contacto",
              "displayName": "id_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asunto",
              "displayName": "asunto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_en",
              "displayName": "creado_en",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "comercio_id",
              "displayName": "comercio_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "restaurant_id",
              "displayName": "restaurant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        32
      ],
      "id": "46a64c1e-f44d-4386-acb6-886689e44499",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "IVtenld1fJizAH2K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contactos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        32
      ],
      "id": "b0ee64fd-b793-4bf8-a433-852857522a34",
      "name": "Webhook1",
      "webhookId": "7ade9157-50d5-4956-928e-135cc60c91a7"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        32
      ],
      "id": "01fc7818-2d1b-4c3c-aa6b-de6a199a8d82",
      "name": "Wait",
      "webhookId": "dca7f304-c130-4dfd-a967-d45c24ac933b"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        256
      ],
      "id": "70d86438-b16e-4994-9dd3-f39f38886688",
      "name": "Wait1",
      "webhookId": "01097f40-2747-4199-af3d-0286000a49d7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13jZ407ekiVXmG3_E29UkwfczZGGn-noyZ-VgRFTnKk4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724240236,
          "mode": "list",
          "cachedResultName": "contactosMenuAdmin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13jZ407ekiVXmG3_E29UkwfczZGGn-noyZ-VgRFTnKk4/edit#gid=1724240236"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "Email": "={{ $json.email }}",
            "Comentarios": "={{ $json.mensaje }}",
            "Asunto": "={{ $json.asunto }}",
            "Fecha ": "={{ $json.creado_en }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comentarios",
              "displayName": "Comentarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha ",
              "displayName": "Fecha ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        32
      ],
      "id": "00d1a064-6319-4432-8a58-26b8fd8abe75",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HUPoOZ3fAe2Vm8Rj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=pdfhand@gmail.com",
        "subject": "={{ $json.Asunto }}",
        "message": "={{ $json.Email }}\n\n{{ $json.Nombre }}\n\n{{ $json.Comentarios }}\n\n{{ $json['Fecha '] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        400
      ],
      "id": "c0cd9ca3-502c-4a16-b92b-766b8ffed4b4",
      "name": "Send  Respuesta",
      "webhookId": "44e825a5-79cb-4652-893d-bf22be4041c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "g5GNMnve1YxenwAa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Insert rows in a table').item.json.email }}",
        "subject": "=Gracias por contactar:  {{ $('Insert rows in a table').item.json.nombre }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Gracias por contactarnos</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f4f4f4;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f4; padding: 40px 20px;\">\n        <tr>\n            <td align=\"center\">\n                <!-- Contenedor principal -->\n                <table width=\"100%\" max-width=\"600px\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; width: 100%; background-color: #ffffff; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow: hidden;\">\n                    \n                    <!-- Header con color de fondo -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 40px 30px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: bold;\">¡Gracias por escribirnos;  {{ $('Insert rows in a table').item.json.nombre }}  </h1>\n                        </td>\n                    </tr>\n                    \n                    <!-- Cuerpo del mensaje -->\n                    <tr>\n                        <td style=\"padding: 40px 30px;\">\n                            <p style=\"font-size: 18px; color: #333333; line-height: 1.6; margin: 0 0 20px 0;\">\n                                Hemos recibido tu mensaje correctamente.\n                            </p>\n                            \n                            <p style=\"font-size: 16px; color: #555555; line-height: 1.6; margin: 0 0 20px 0;\">\n                                Te agradecemos por tomarte el tiempo de contactarnos. Tu opinión y consulta son muy importantes para nosotros.\n                            </p>\n                            \n                            <p style=\"font-size: 16px; color: #555555; line-height: 1.6; margin: 0 0 20px 0;\">\n                                <strong>Prontamente estaremos respondiendo a tu mensaje.</strong> Nuestro equipo está revisando tu consulta y te contactaremos a la brevedad posible.\n                            </p>\n                            \n                            <!-- Separador -->\n                            <hr style=\"border: none; height: 1px; background-color: #e0e0e0; margin: 30px 0;\">\n                            \n                            <!-- Información de seguimiento -->\n                            <p style=\"font-size: 14px; color: #777777; line-height: 1.5; margin: 0;\">\n                                Si tu consulta es urgente, no dudes en contactarnos nuevamente.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f8f9fa; padding: 20px 30px; text-align: center;\">\n                            <p style=\"font-size: 12px; color: #999999; margin: 0;\">\n                                © 2025 - Este es un mensaje automático, por favor no responder directamente a este correo.\n                            </p>\n<p> <a href=\"http://emilio.beer\">www.emilio.beer</a> </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        240
      ],
      "id": "405adb6f-83d5-4bc4-9300-4342e06267a1",
      "name": "Send Respuesta",
      "webhookId": "44e825a5-79cb-4652-893d-bf22be4041c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "g5GNMnve1YxenwAa",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "moleculax.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 OPR/131.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, br",
            "accept-language": "es-ES,es;q=0.9,en;q=0.8",
            "cache-control": "max-age=0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2800:21e2:1000:6f1::2b27",
            "cf-ew-via": "15",
            "cf-ipcountry": "AR",
            "cf-ray": "9f5887cb4cdd3be2-EZE",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "if-none-match": "W/\"b24-6Oxaftb9yjlPZNHBB7fjt986rXM\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Opera\";v=\"131\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "2800:21e2:1000:6f1::2b27, 162.158.195.141",
            "x-forwarded-host": "moleculax.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-121-6695c8ddcd-s7cdt",
            "x-is-trusted": "yes",
            "x-real-ip": "2800:21e2:1000:6f1::2b27"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://moleculax.app.n8n.cloud/webhook-test/formulario",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "moleculax.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 OPR/131.0.0.0",
            "content-length": "77",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, br",
            "accept-language": "es-ES,es;q=0.9,en;q=0.8",
            "cache-control": "max-age=0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2800:21e2:1000:6f1::2b27",
            "cf-ew-via": "15",
            "cf-ipcountry": "AR",
            "cf-ray": "9f589326fe393be2-EZE",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/x-www-form-urlencoded",
            "origin": "null",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Opera\";v=\"131\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "cross-site",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "2800:21e2:1000:6f1::2b27, 162.158.195.141",
            "x-forwarded-host": "moleculax.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-121-6695c8ddcd-s7cdt",
            "x-is-trusted": "yes",
            "x-real-ip": "2800:21e2:1000:6f1::2b27"
          },
          "params": {},
          "query": {},
          "body": {
            "nombre_completo": "emilio",
            "email": "root@anamucpro.store",
            "asunto": "test",
            "comentario": "dd"
          },
          "webhookUrl": "https://moleculax.app.n8n.cloud/webhook/contactos",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Respuesta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send  Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39acba16-fa58-4c20-a4fc-11345ef5f053",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a4853dfd4e9956b51d385e74e1b11bf01853481765f1f7542b37dae5d7d8fec"
  },
  "id": "AqpWgZdab8T3ZMhN",
  "tags": []
}